/* stylelint-disable no-descending-specificity */

/* Project Meta */

/* primary color  */

/* reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* general */
body {
  font-family: "Lato", sans-serif;
  color: #555;
  background-color: #f7f7f7;
}

.hero {
  background-image: url(assets/images/home-mobile.png);
  background-size: cover;
}

.hero .header {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero .header .menu-i {
  width: 4rem;
  height: 5rem;
  cursor: pointer;
}

.hero .header .menu-i > svg {
  stroke: #272a31;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 66%;
  height: 0;
  z-index: 10;
  transition: 0.3s ease-in;
  background-image: url(assets/images/Slide1.jpg);
  background-size: cover;
}

.mobile-menu #menu-i-close {
  stroke: #272a31;
  width: 4rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.mobile-menu > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.mobile-menu > ul .mobile-menu-item .menu-link:link,
.mobile-menu > ul .mobile-menu-item .menu-link:visited {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ec5242;
  text-decoration: none;
}

.mobile-menu > ul .mobile-menu-item .menu-link:hover,
.mobile-menu > ul .mobile-menu-item .menu-link:focus {
  color: #555;
  text-decoration-line: underline;
  text-decoration-color: #ec5242;
  text-decoration-thickness: 0.3rem;
}

.visibility {
  height: 100vh;
}

.content {
  padding-top: 10rem;
  padding-bottom: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content .heading {
  color: #ec5242;
}

.content .heading .sub-heading {
  font-size: 2rem;
  font-weight: 400;
}

.content .heading .sub-heading::before {
  content: '"';
}

.content .heading .sub-heading::after {
  content: '"';
}

.content .heading .main-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 3rem;
  background-image: url(assets/images/lines.jpg);
  background-position: top right;
  background-clip: initial;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
}

.content .event-summary {
  font-size: 1.2rem;
  font-weight: 400;
  border: 0.3rem solid #fff;
  padding: 1rem;
  background-color: #f7f7f7;
  margin-bottom: 1.5rem;
}

.content .event-data {
  line-height: 1.5;
}

.content .event-data .event-date {
  font-size: 2.2rem;
}

.content .event-data .event-venue {
  font-size: 1.4rem;
}

.main-program {
  background-color: #272a31;
  background-image: url(assets/images/main-program.png);
  padding: 1.6rem;
  text-align: center;
}

.main-program .main-program-title {
  color: #f7f7f7;
  font-size: 2.2rem;
}

.main-program .main-program-title::after {
  content: "____";
  display: block;
  color: #ec5242;
}

.main-program .main-program-list {
  list-style: none;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-program .main-program-list .list-item {
  background-color: #555;
  color: #fff;
  display: flex;
  padding: 1.6rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.6rem;
  gap: 2rem;
}

.main-program .main-program-list .list-item:last-child {
  margin-bottom: 0;
}

.main-program .main-program-list .list-item > * {
  flex: 1;
}

.main-program .main-program-list .list-item > img {
  width: 6.4rem;
  height: 6.4rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.main-program .main-program-list .list-item > h5 {
  font-size: 1.8rem;
  color: #ec5242;
  text-align: left;
}

.main-program .main-program-list .list-item > p {
  font-size: 1.2rem;
}

.main-program .join-btn {
  text-align: center;
  background-color: #ec5242;
  color: #f7f7f7;
  padding: 2rem;
  border: none;
}

.featured-guests {
  color: #555;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.featured-guests .featured-guests-title {
  font-size: 2.2rem;
}

.featured-guests .featured-guests-title::after {
  content: "____";
  display: block;
  color: #ec5242;
}

.featured-guests .guests-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featured-guests .guests-list .guest-card {
  display: flex;
  padding: 2.4rem;
  position: relative;
  text-align: left;
  gap: 2rem;
}

.featured-guests .guests-list .guest-card .guest-image {
  flex: 1;
}

.featured-guests .guests-list .guest-card .guest-image > img {
  width: 12.5rem;
  height: 12.5rem;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  display: block;
}

.featured-guests .guests-list .guest-card .guest-details {
  flex: 2;
}

.featured-guests .guests-list .guest-card .guest-details .guest-name {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
}

.featured-guests .guests-list .guest-card .guest-details .guest-designation {
  font-size: 1.1rem;
  color: #ec5242;
  font-style: italic;
  font-weight: 700;
}

.featured-guests .guests-list .guest-card .guest-details .guest-designation::after {
  content: "___";
  display: block;
  color: #555;
  padding-bottom: 0.4rem;
}

.featured-guests .guests-list .guest-card .guest-details .guest-brif {
  font-size: 1.2rem;
}

.featured-guests .mobile-more-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 3.4rem;
  border: 0.1rem solid #555;
  color: #555;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.featured-guests .mobile-more-btn > svg {
  width: 2rem;
  height: 2rem;
  stroke: #ec5242;
}

.featured-guests .hide {
  display: none;
}

.partners {
  text-align: center;
  color: #8d8d8d;
  background-color: #555;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.partners .partners-title {
  font-size: 2.2rem;
}

.partners .partners-title::after {
  content: "____";
  display: block;
  color: #ec5242;
}

.partners .partner-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.partners .partner-list .partner {
  font-size: 3.4rem;
  cursor: pointer;
}

.partners .partner-list .partner:hover,
.partners .partner-list .partner:focus {
  color: #f7f7f7;
}

.partners .partner-list #mozila {
  font-weight: 700;
}

.partners .partner-list #google {
  font-weight: 300;
  text-transform: capitalize;
}

.partners .partner-list #naver {
  font-weight: 900;
}

.partners .partner-list #daumkakao {
  font-weight: 400;
  font-size: 2.8rem;
}

.partners .partner-list #airbnb {
  font-weight: 400;
  font-size: 2.8rem;
}

footer {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .logo > img {
  width: 12.5rem;
  height: 12.5rem;
}

footer .site-info .rights-reserve {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* Page template B */

/* Media Queries */
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(assets/images/home-desktop.png);
    padding-right: 12rem;
    padding-left: 12rem;
  }

  .hero .header .menu-i {
    display: none;
  }

  .hero .content {
    width: 50%;
  }

  .hero .content .heading .sub-heading {
    font-size: 3.6rem;
  }

  .hero .content .heading .main-heading {
    font-size: 6.3rem;
  }
}
/* stylelint-enable no-descending-specificity */
