/* Project Meta */

/* primary color  */

$primary-color: #ec5242;
$secondry-color: #272a31;
$complimentry-color: #d3d3d3;
$complimentry-color2: #f7f7f7;
$font-color: #555555;

/* reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* general */

.hero {
  background-image: url(assets/images/home-mobile.png);
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  background-color: $complimentry-color2;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
  padding-bottom: 7rem;
}

.heading {
  color: $primary-color;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 400;
}

.sub-heading::before {
  content: '"';
}

.sub-heading::after {
  content: '"';
}

.main-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 3rem;
  background-image: url(assets/images/lines.jpg);
  background-position: top right;
  background-clip: initial;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
}

.event-summary {
  font-size: 1.2rem;
  font-weight: 400;
  border: 0.3rem solid #fff;
  padding: 1rem;
  background-color: $complimentry-color2;
  margin-bottom: 1.5rem;
}

.event-data {
  line-height: 1.5;
}

.event-date {
  font-size: 2.2rem;
}
.event-venue {
  font-size: 1.4rem;
}

/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* Page template B */

/* Media Queries */
