/* Project Meta */

/* primary color  */

$primary-color: #ec5242;
$secondry-color: #272a31;
$complimentry-color2: #f7f7f7;

$font-color: #555;

/* reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* general */

body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  background-color: $complimentry-color2;
}

@mixin padding-left-right {
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-image: url(assets/images/home-mobile.png);
  background-size: cover;

  .header {
    @include padding-left-right();

    .menu-i {
      width: 4rem;
      height: 5rem;
      cursor: pointer;

      & > svg {
        stroke: $secondry-color;
      }
    }
  }
}

.mobile-menu {
  @include flex-center();

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 66%;
  height: 0;
  z-index: 10;
  transition: 0.3s ease-in;
  background-image: url(assets/images/Slide1.jpg);
  background-size: cover;

  #menu-i-close {
    stroke: $secondry-color;
    width: 4rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

    .mobile-menu-item {
      .menu-link {
        &:link,
        &:visited {
          font-size: 2.4rem;
          font-weight: 700;
          color: $primary-color;
          text-decoration: none;
        }

        &:hover,
        &:focus {
          color: $font-color;
          text-decoration-line: underline;
          text-decoration-color: $primary-color;
          text-decoration-thickness: 0.3rem;
        }
      }
    }
  }
}

.visibility {
  height: 100vh;
}

.content {
  padding-top: 10rem;
  padding-bottom: 7rem;

  @include padding-left-right();

  .heading {
    color: $primary-color;

    .sub-heading {
      font-size: 2rem;
      font-weight: 400;

      &::before {
        content: '"';
      }

      &::after {
        content: '"';
      }
    }

    .main-heading {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 3.4rem;
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 3rem;
      background-image: url(assets/images/lines.jpg);
      background-position: top right;
      background-clip: initial;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .event-summary {
    font-size: 1.2rem;
    font-weight: 400;
    border: 0.3rem solid #fff;
    padding: 1rem;
    background-color: $complimentry-color2;
    margin-bottom: 1.5rem;
  }

  .event-data {
    line-height: 1.5;

    .event-date {
      font-size: 2.2rem;
    }

    .event-venue {
      font-size: 1.4rem;
    }
  }
}

@mixin h5-level-heading {
  font-size: 2.2rem;
}

@mixin h5-level-heading-line {
  content: '____';
  display: block;
  color: $primary-color;
}

.main-program {
  background-color: $secondry-color;
  background-image: url(assets/images/main-program.png);
  padding: 1.6rem;
  text-align: center;

  .main-program-title {
    color: $complimentry-color2;

    @include h5-level-heading();

    &::after {
      @include h5-level-heading-line();
    }
  }

  .main-program-list {
    list-style: none;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .list-item {
      background-color: $font-color;
      color: #fff;
      display: flex;
      padding: 1.6rem;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1.6rem;

      &:last-child {
        margin-bottom: 0;
      }

      & > * {
        flex: 1;
      }

      & > img {
        width: 6.4rem;
        height: 6.4rem;
        flex-shrink: 0;
        flex-grow: 0;
      }

      & > h5 {
        font-size: 1.8rem;
        color: $primary-color;
        text-align: center;
      }

      & > p {
        font-size: 1.2rem;
      }
    }
  }

  .join-btn {
    text-align: center;
    background-color: $primary-color;
    color: $complimentry-color2;
    padding: 2rem;
    border: none;
  }
}

.featured-guests {
  color: $font-color;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include padding-left-right();

  .featured-guests-title {
    @include h5-level-heading();

    &::after {
      @include h5-level-heading-line();
    }
  }

  .guests-list {
    @include flex-center();

    flex-direction: column;

    .guest-card {
      display: flex;
      padding: 2.4rem;

      .guest-image {
        flex: 1;
        background-color: #ec5242;

        & > img {
          max-width: 10rem;
          max-height: 24rem;
          width: 65%;
          height: 90%;
        }
      }

      .guest-details {
        flex: 2;
      }
    }
  }
}

/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* Page template B */

/* Media Queries */
