/* stylelint-disable no-descending-specificity */

/* Project Meta */

/* primary color  */

$primary-color: #ec5242;
$secondry-color: #272a31;
$complimentry-color2: #f7f7f7;

$font-color: #555;

/* reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* general */

body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  background-color: $complimentry-color2;
}

@mixin padding-left-right {
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sticky-header {
  display: none;
}

.hero {
  background-image: url(assets/images/home-mobile.png);
  background-size: cover;

  .header {
    @include padding-left-right();

    .menu-i {
      width: 4rem;
      height: 5rem;
      cursor: pointer;

      & > svg {
        stroke: $secondry-color;
      }
    }
  }
}

.mobile-menu {
  @include flex-center();

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 66%;
  height: 0;
  z-index: 10;
  transition: 0.3s ease-in;
  background-image: url(assets/images/Slide1.jpg);
  background-size: cover;

  #menu-i-close {
    stroke: $secondry-color;
    width: 4rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

    .mobile-menu-item {
      .menu-link {
        &:link,
        &:visited {
          font-size: 2.4rem;
          font-weight: 700;
          color: $primary-color;
          text-decoration: none;
        }

        &:hover,
        &:focus {
          color: $font-color;
          text-decoration-line: underline;
          text-decoration-color: $primary-color;
          text-decoration-thickness: 0.3rem;
        }
      }
    }
  }
}

.visibility {
  height: 100vh;
}

.content {
  padding-top: 10rem;
  padding-bottom: 7rem;

  @include padding-left-right();

  .heading {
    color: $primary-color;

    .sub-heading {
      font-size: 2rem;
      font-weight: 400;

      &::before {
        content: '"';
      }

      &::after {
        content: '"';
      }
    }

    .main-heading {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 3.4rem;
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 3rem;
      background-image: url(assets/images/lines.jpg);
      background-position: top right;
      background-clip: initial;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .event-summary {
    font-size: 1.2rem;
    font-weight: 400;
    border: 0.3rem solid #fff;
    padding: 1rem;
    background-color: $complimentry-color2;
    margin-bottom: 1.5rem;
  }

  .event-data {
    line-height: 1.5;

    .event-date {
      font-size: 2.2rem;
    }

    .event-venue {
      font-size: 1.4rem;
    }
  }
}

@mixin h5-level-heading {
  font-size: 2.2rem;
}

@mixin h5-level-heading-line {
  content: '____';
  display: block;
  color: $primary-color;
}

.main-program {
  background-color: $secondry-color;
  background-image: url(assets/images/main-program.png);
  padding: 1.6rem;
  text-align: center;

  .main-program-title {
    color: $complimentry-color2;

    @include h5-level-heading();

    &::after {
      @include h5-level-heading-line();
    }
  }

  .main-program-list {
    list-style: none;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .list-item {
      background-color: $font-color;
      color: #fff;
      display: flex;
      padding: 1.6rem;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1.6rem;
      gap: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      & > * {
        flex: 1;
      }

      & > img {
        width: 6.4rem;
        height: 6.4rem;
        flex-shrink: 0;
        flex-grow: 0;
      }

      & > h5 {
        font-size: 1.8rem;
        color: $primary-color;
        text-align: left;
      }

      & > p {
        font-size: 1.2rem;
      }
    }
  }

  .join-btn {
    text-align: center;
    background-color: $primary-color;
    color: $complimentry-color2;
    padding: 2rem;
    border: none;
  }
}

.featured-guests {
  color: $font-color;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include padding-left-right();

  .featured-guests-title {
    @include h5-level-heading();

    &::after {
      @include h5-level-heading-line();
    }
  }

  .guests-list {
    @include flex-center();

    flex-direction: column;

    .guest-card {
      display: none;
      flex-direction: row;
      padding: 2.4rem;
      position: relative;
      text-align: left;
      gap: 2rem;

      .guest-image {
        flex: 1;

        & > img {
          width: 12.5rem;
          height: 12.5rem;
          max-width: 100%;
          max-height: 100%;
          background-size: cover;
          display: block;
        }
      }

      .guest-details {
        flex: 2;

        .guest-name {
          font-size: 1.8rem;
          font-weight: 700;
          padding-bottom: 0.4rem;
        }

        .guest-designation {
          font-size: 1.1rem;
          color: $primary-color;
          font-style: italic;
          font-weight: 700;

          &::after {
            content: '___';
            display: block;
            color: $font-color;
            padding-bottom: 0.4rem;
          }
        }

        .guest-brif {
          font-size: 1.2rem;
        }
      }
    }

    #guest-1,
    #guest-2 {
      display: flex;
    }
  }

  .mobile-more-btn {
    cursor: pointer;

    @include flex-center();

    gap: 1rem;
    width: 100%;
    height: 3.4rem;
    border: 0.1rem solid $font-color;
    color: $font-color;
    text-transform: uppercase;
    background-color: $complimentry-color2;

    & > svg {
      width: 2rem;
      height: 2rem;
      stroke: $primary-color;
    }
  }

  .hide {
    display: none;
  }
}

$partner-font-color: #8d8d8d;

.partners {
  display: none;
  text-align: center;
  color: $partner-font-color;
  background-color: $font-color;

  @include padding-left-right();

  padding-top: 3rem;
  padding-bottom: 3rem;

  .partners-title {
    @include h5-level-heading();

    &::after {
      @include h5-level-heading-line();
    }
  }

  .partner-list {
    @include flex-center();

    flex-direction: column;
    list-style: none;
    gap: 2rem;

    .partner {
      font-size: 3.4rem;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $complimentry-color2;
      }
    }

    #mozila {
      font-weight: 700;
    }

    #google {
      font-weight: 300;
      text-transform: capitalize;
    }

    #naver {
      font-weight: 900;
    }

    #daumkakao {
      font-weight: 400;
      font-size: 2.8rem;
    }

    #airbnb {
      font-weight: 400;
      font-size: 2.8rem;
    }
  }
}

.footer {
  display: none;

  @include padding-left-right();

  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .logo {
    & > img {
      width: 12.5rem;
      height: 12.5rem;
    }
  }

  .site-info {
    .rights-reserve {
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
  }
}

/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* About Page */

@mixin textAliense-About {
  width: 90%;
  margin: 0 auto;
}

#about-body {
  text-align: center;

  .hero {
    background-color: $complimentry-color2;
    background-image: url(assets/images/about1-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;

    .content {
      width: 100%;
    }

    .heading {
      .main-heading {
        color: $primary-color;
        background-image: none;
        background-clip: initial;
        -webkit-text-fill-color: $primary-color;
      }
    }

    .event-summary {
      @include textAliense-About();

      font-size: 1.3rem;
      line-height: 1.3;
      padding: 2.5rem;
    }

    .reach-out {
      padding-top: 3rem;

      @include textAliense-About();

      font-size: 1.4rem;

      &:last-child {
        padding-top: 1rem;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .logo-call-out {
    @include textAliense-About();

    & > h5 {
      @include h5-level-heading();

      &::after {
        @include h5-level-heading-line();
      }
    }

    & > p {
      font-size: 1.3rem;
      padding: 3rem;
    }

    .logo {
      @include flex-center();

      background-color: #fff;
      padding: 2rem;
      margin-bottom: 4rem;

      & > img {
        width: 4.5rem;
        height: 4.5rem;
      }

      .logo-title {
        margin-left: 1rem;
        margin-top: 0.6rem;

        .log-subtitle {
          font-weight: 400;
          color: $font-color;
        }

        .logo-main-title {
          font-size: 1.8rem;
        }
      }
    }
  }

  .past-events {
    @include textAliense-About();

    padding: 2rem;

    & > h5 {
      @include h5-level-heading();

      &::after {
        @include h5-level-heading-line();
      }

      margin-bottom: 2rem;
    }

    & > p {
      font-size: 1.2rem;
    }

    .event-images {
      padding-top: 2rem;

      .img {
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }

        &:nth-child(2) {
          padding-top: 1.2rem;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #ec5342a2;
          opacity: 0;
          color: #fff;

          & > h5 {
            margin-top: 25%;

            @include h5-level-heading();

            padding-bottom: 1rem;
          }

          & > p {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }

        &:hover,
        &focus {
          .overlay {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .partners {
    .partners-title {
      margin-bottom: 2rem;
    }

    .partner-list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .footer {
    flex-direction: row;

    .logo > img {
      width: 9.4rem;
      height: 8.2rem;
    }
  }
}

/* Media Queries */

@media screen and (min-width: 768px) {
  @mixin padding-right-left-desktop {
    padding-right: 15rem;
    padding-left: 15rem;
  }

  #sticky-header {
    display: block;
  }

  .sticky {
    z-index: 100;
    background-color: $complimentry-color2;
    position: sticky;
    top: 0;
    box-shadow: 5px 0 5px 0.5px $font-color;
  }

  header {
    .desktop-menu-main {
      @include padding-right-left-desktop();
      @include flex-center();

      justify-content: space-between;
      gap: 2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;

      .logo {
        cursor: pointer;

        & > img {
          width: 4.5rem;
          height: 4.5rem;
          float: left;
        }

        .logo-title {
          float: left;
          margin-left: 1rem;
          margin-top: 0.6rem;

          .log-subtitle {
            font-weight: 400;
            color: $font-color;
          }

          .logo-main-title {
            font-size: 1.8rem;
          }
        }

        .clear {
          clear: both;
        }
      }

      .desktop-menu {
        @include flex-center();

        list-style: none;
        gap: 5rem;

        .desktop-menu-item {
          & > * {
            text-decoration: none;
            font-size: 1.2rem;
            color: $font-color;
            font-weight: 400;

            &:hover,
            &:focus {
              text-decoration: 0.3rem underline $primary-color;
            }
          }

          .active {
            color: $primary-color;
          }
        }
      }
    }

    .register-button {
      cursor: pointer;
      border: 0.4rem solid $primary-color;
      padding: 1rem;

      @include padding-left-right();

      &:hover,
      &:active {
        color: $primary-color;
      }
    }
  }

  .hero {
    background-image: url(assets/images/home-desktop.png);
    background-size: cover;
    background-position: center center;
    box-shadow: 1px 0 5px 1px $partner-font-color inset;

    @include padding-right-left-desktop();

    .header {
      .menu-i {
        display: none;
      }
    }

    .content {
      width: 60%;

      .heading {
        .sub-heading {
          font-size: 3.6rem;
        }

        .main-heading {
          font-size: 6.2rem;
        }
      }

      .event-summary {
        font-size: 1.4rem;
      }

      .event-data {
        .event-date {
          font-size: 3rem;
          font-weight: 900;
        }

        .event-venue {
          font-size: 1.8rem;
          color: $partner-font-color;
        }
      }
    }
  }

  .main-program {
    @include padding-right-left-desktop();

    .main-program-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;

      .list-item {
        cursor: pointer;
        flex: 1;
        flex-direction: column;
        padding: 2rem;
        margin: 0;

        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }

  .featured-guests {
    @include padding-right-left-desktop();

    .guests-list {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'guest-1 guest-2'
        'guest-3 guest-4'
        'guest-5 guest-6';

      .guest-card {
        display: flex;
      }
    }

    .mobile-more-btn {
      display: none;
    }
  }

  .partners {
    display: block;

    .partner-list {
      @include padding-right-left-desktop();

      flex-direction: row;
      justify-content: space-around;
    }
  }

  .footer {
    @include flex-center();

    flex-direction: row;
    gap: 3rem;
    font-size: 1.2rem;

    .site-info {
      width: 50%;
    }

    & > {
      flex: 1;
    }
  }

  #about-body {
    .hero {
      .content {
        .heading {
          .sub-heading {
            display: none;
          }
        }
      }
    }

    .past-events {
      .event-images {
        display: flex;
        gap: 1rem;

        .img {
          flex: 1;

          &:nth-child(2) {
            padding-top: 0;
          }
        }
      }
    }

    #partners-section {
      display: block;
    }

    .footer {
      background-color: $font-color;
      display: block;
    }
  }
}

/* stylelint-enable no-descending-specificity */
